/* Part for the other page and better ideas */

.landingLeftPart {
  padding: 0%;
}

.nameLandingLeft h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 7vh;
  letter-spacing: 5px;
  margin: 0px;
  padding-bottom: 1%;
  height: 10vh;
}

.landingLeftPart img {
  height: 90vh;
  width: 100%;
}

.landingRightPart {
  padding: 0% 2% 0% 2%;
  margin: 0px;
}

.spaceRight {
  height: 5vh;
}

.landingRightPart h3 {
  font-family: "Playfair Display", serif;
  height: 16vh;
  margin: 0px;
  font-size: 3vh;
}

.landingRightPart p {
  font-family: "Raleway", sans-serif;
  height: 70vh;
  margin: 0px;
  font-size: 2vh;
}

.btnPart {
  height: 5vh;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPart a {
  border-color: #ffff;
  color: #ffff;
  background-color: #14213d;
  font-family: "Playfair Display", serif;
  font-size: 1.8vh;
  margin-right: 15px;
}

@media all and (max-width: 1199px) {
  .spaceRight {
    height: 20px;
  }

  .landingRightPart h3 {
    height: 11vh;
    font-size: 4vh;
  }

  .landingRightPart p {
    height: 45vh;
    font-size: 2.2vh;
  }

  .btnPart {
    height: 7vh;
    float: left;
  }

  .btnPart a {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 2vh;
  }
}

@media all and (max-width: 800px) {
  .landingLeftPart img {
    height: 50vh;
    width: 100%;
  }
  
  .nameLandingLeft h1{
    font-size: 5.5vh;
  }
  
  .landingRightPart h3 {
    height: fit-content;
    font-size: 20px;
  }

  .landingRightPart p {
    margin-top: 15px;
    height: fit-content;
    font-size: 13px;
  }

  .btnPart {
    height: fit-content;
  }

  .btnPart a {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.8vh;
    margin-right: 0px;
  }
}
