.landingLeftPart {
  padding: 0%;
}

.nameLandingLeft h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 6.5vh;
  letter-spacing: 7px;
  margin: 0px;
  padding-bottom: 1%;
  height: 9vh;
}

.landingLeftPart img {
  height: 91vh;
  width: 100%;
}

.landingRightPart {
  padding: 0% 2% 0% 2%;
  margin: 0px;
  box-shadow: 0px 1px 5px 3px #000000;
}

.spaceRight {
  height: 8vh;
}

.landingRightPart h3 {
  font-family: "Playfair Display", serif;
  height: 16vh;
  margin: 0px;
  font-size: 3vh;
}

.landingRightPart p {
  font-family: "Raleway", sans-serif;
  height: 64vh;
  margin: 0px;
  font-size: 2vh;
  text-align: justify;
}

.btnPart {
  height: 5vh;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPart a {
  border-color: #ffffff;
  color: #ffffff;
  background-color: #14213D;
  font-family: "Playfair Display", serif;
  font-size: 1.8vh;
  margin-right: 15px;
}

.btnPart a:hover {
  border-color: #FCA311;
  color: #000000;
  background-color: #FCA311;
}

@media all and (max-width: 1199px) {
  .landingLeftPart img {
    height: 90vh;
    width: 100%;
  }
  
  .spaceRight {
    height: 20px;
  }

  .landingRightPart h3 {
    height: 11vh;
    font-size: 4vh;
  }

  .landingRightPart p {
    height: 45vh;
    font-size: 2.2vh;
    margin-top: 15px;
  }

  .btnPart {
    height: 30px;
  }

  .btnPart a {
    margin-bottom: 15px;
    font-size: 2vh;
  }
}

@media all and (max-width: 800px) {
  .landingLeftPart img {
    height: 50vh;
    width: 100%;
  }
  
  .nameLandingLeft h1{
    font-size: 5.5vh;
  }
  
  .landingRightPart h3 {
    height: fit-content;
    font-size: 20px;
  }

  .landingRightPart p {
    margin-top: 15px;
    height: fit-content;
    font-size: 13px;
  }

  .btnPart {
    height: fit-content;
  }

  .btnPart a {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.8vh;
    margin-right: 0px;
  }
}
